{% extends "base.twig" %}

{% block body %}
    <div class="card">
        <div class="card-header
            {% if auction.status == "finished" %} bg-warning {% endif %}
        ">
            {{ auction.title }} {% if auction.status == "finished" %} - Zakończona [{{ auction.expiresAt|date }}] {% endif %}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ auction.description }}</h5>
            <p class="card-text">Cena: {{ auction.price }}</p>
            <p class="card-text">Cena wywoławcza: {{ auction.startingPrice }}</p>
            <p class="card-text">Aukcja kończy się: {{ auction.expiresAt|date("d-m-Y, H:i:s") }}</p>
            <a  href="{{ url('auction_index') }}" class="btn btn-primary float-left">Powrót</a>
        </div>
    </div>

{% endblock %}